@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/Ubuntu-BoldItalic.woff2') format('woff2'),
		url('fonts/Ubuntu-BoldItalic.woff') format('woff'),
		url('fonts/Ubuntu-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}