@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/Ubuntu-MediumItalic.woff2') format('woff2'),
		url('fonts/Ubuntu-MediumItalic.woff') format('woff'),
		url('fonts/Ubuntu-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}