@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Italic.woff2') format('woff2'),
		url('fonts/OpenSans-Italic.woff') format('woff'),
		url('fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
